.hero-section {
    background-image: url('https://cristianvazquez09.github.io/Jacob_Wesite/assets/img-hero-products.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
