.header {
    background-image: url('https://cristianvazquez09.github.io/Jacob_Wesite/assets/img-bg-header-d.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
