<nav id="mobileMenu" class=" right-0 top-0 flex flex-col bg-blue-j-500 text-white p-4 shadow-lg bottom-0 z-50 fixed">
    <h5 class="font-Italianno text-white text-center text-3xl pt-6">El jardin del Eden</h5>
    <ul class="space-y-4 text-lg pt-4">
        <li>
            <a href="#" class="block p-4 border-b border-white rounded-md hover:text-blue-300 transition-colors duration-200 w-52" routerLink="/home" (click)="hide()">
                Inicio
            </a>
        </li>
        <li>
            <a href="#" class="block p-4 border-b border-white rounded-md hover:text-blue-300 transition-colors duration-200" routerLink="/products" (click)="hide()">
                Productos
            </a>
        </li>
        <li>
            <a href="#" class="block p-4 border-b border-white rounded-md hover:text-blue-300 transition-colors duration-200" routerLink="/contact" (click)="hide()">
                Contacto
            </a>
        </li>
    </ul>
</nav>